.footer {
    background-color: #363636;
    color: white;
    padding: 0.8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.footer p {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.lista {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}